<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <form method="Post" action="/home/addUser">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" />
            <br />
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
            <br />
            <input type="number" class="form-control" name="phoneNumber" placeholder="Phone Number" />
            <br />
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <input type="password" class="form-control" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-success">Add User</button>
        </form>
    </div>
</div>